{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block main %}


<form id="myForm" enctype="multipart/form-data" method="POST" action="">
    {{ form.errors }}
    {% csrf_token %}
    <div class="row">
        <div class="col s12 m10 110">
            <!-- badges -->
            <div id='mesh_header' class="section scrollspy">
                <div class="row">
                    <div class="col s12">
                        <h2 class="header">Mesh</h2>
                        <div class="section">
                            <h5>Select your mesh</h5>
                                {{ form.mesh }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="boundaries" class="section scrollspy">
                <div class="row">
                    <div class="col s12">
                        <h2 class="header">Boundary Conditions</h2>
                        <div class="section">
                            
                            {{ form.timeFlag }} {{form.timeFlag.label_tag}}

                            <table id='boundary'>
                                <thead>
                    				<tr>
                                    	<th>Physical group</th>
    	                                <th>BC Type</th>
                                        <th colspan='3'>Coordinates (x, y, z)</th>
                                        <th class="timeDependent">Time</th>
            	                        <th></th>
                    				</tr>
                                </thead>
                                <tbody>
                                    {% for subform in formset.forms %}
                                    
                    				<tr class="formset dynamic-form" id='form-{{ subform.prefix }}-row'>
                                        <td style="width:30%;">{{ subform.physicalGroup }}{{ subform.id }}</td>
                                        <td>{{ subform.boundaryType }}</td>
                                        <td style="width:60px">{{ subform.xcoord }}</td>
                                        <td style="width:60px">{{ subform.ycoord }}</td>
                                        <td style="width:60px">{{ subform.zcoord }}</td>
                                        <td class="timeDependent" style="width:60px">{{ subform.time }}</td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                            {{ formset.management_form }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="materials" class="section scrollspy">
                <div class="row">
                    <div class="col s12">
                        <h2 class="header">Materials</h2>
                            <div class="section">
                            <h5> Choose your material:</h5>
                            <table id='material'>
                                <tbody>
                                    <td id="matsel" style="width:150px">{{ materialsForm.materialChoice }}</td>
                                    <td id="density">{{ materialsForm.density }}</td>
                                    
                                    <td id="youngsModulus">{{ materialsForm.youngsModulus }}</td>
                                    <td id="poissonRatio">{{ materialsForm.poissonRatio }}</td>
                                    
                                    <td id="conductivity">{{ materialsForm.conductivity }}</td>
                                    <td id="heatCapacity">{{ materialsForm.heatCapacity }}</td>
                                    
                                    <td id="viscosity">{{ materialsForm.viscosity }}</td>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="analysis" class="section scrollspy">
                <div class="row">
                    <div class="col s12">
                        <h2 class="header">Analysis & Equation </h2>
                        <div class="section">
                            <h5>Analysis type:</h5>
                            <p id="analysissel">{{ form.analysisType }}</p>
                            <p class=analysisSettings> Analysis settings: </p>
                            <ul>
                                <li class=staticNonlinearSettings> {{ form.analysisTolerance }}</li>
                                <li class=staticNonlinearSettings> {{ form.analysisMaxIter }}</li>
                                <li class=staticNonlinearSettings> {{ form.analysisReactions }}</li>
                                
                                <li class=transientThermalSettings> {{ form.analysisTMax }}</li>
                                <li class=transientThermalSettings> {{ form.analysisDT }}</li>
                                <li class=transientThermalSettings> {{ form.analysisAlpha }}</li>
                            </ul>
                        </div>
                        <div class="section">
                            <h5>Simulation equation type:</h5>
                            <p id="equationsel">{{ form.equationType }}</p>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="simulation" class="section scrollspy">
                <div class="row">
                    <div class="col s12">
                        <h2 class="header">Simulation</h2>
                        <h5>Output preferences</h5>
                        <div class="section">
                            {{ form.printToScreen }} {{form.printToScreen.label_tag}}
                        </div>
                        <div class="section">
                            {{ form.printToParaview }} {{form.printToParaview.label_tag}}
                        </div>
                        <div class="section">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Solve!
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end badges -->
        
        <!-- section thingy on the side -->
        <div class="col hide-on-small-only m3 12">
            <div class="toc-wrapper" style="top: 50px; position:fixed; right:100px;">
                    <ul class="section table-of-contents">
                        <li>
                            <a href='#mesh_header'>Mesh</a>
                        </li>
                        <li>
                            <a href="#boundaries">Boundary Conditions</a>
                        </li>
                        <li>
                            <a href="#materials">Materials</a>
                        </li>
                        <li>
                            <a href="#analysis">Analysis</a>
                        </li>
                        <li>
                            <a href="#simulation">Simulation</a>
                        </li>
                    </ul>
            </div>
            
        </div>
    </div>
<input type="submit">
</form>

<script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>

<script type="text/javascript">
        $(document).ready(function(){
                $('.scrollspy').scrollSpy(scrollOffset=200);
            });
</script>

<script>
$(document).ready(function(){
   //$(function() {
        $('#myForm table#boundary tbody tr').formset({
            addText: '<a class="waves-effect waves-light btn">Add</a>',
            added: function() {
		    $('table#boundary select').removeAttr('data-activates')
                    $('table#boundary select').each(function() {
                        $(this).material_select();
                        // also need to put this time dependent stuff in here,
                        // otherwise you get that adding an field, would miss the
                        // time dependent boxes depending on flag setting
                        if ($("#id_timeFlag").is(":checked")){
                            $('.timeDependent').show()
                        } else {
                            $('.timeDependent').hide()
                        }
                    });
		},
        });
    //});
});
</script>
<script>
    // hide all fields initially
    $('#youngsModulus').hide()
    $('#poissonRatio').hide()
    $('#conductivity').hide()
    $('#heatCapacity').hide()
    $('#density').hide()
    $('#viscosity').hide()

    // when
    $("#matsel").on("change", function(){

        $('#youngsModulus').hide()
        $('#poissonRatio').hide()
        $('#conductivity').hide()
        $('#heatCapacity').hide()
        $('#density').hide()
        $('#viscosity').hide()
        
        if ($("#id_materialChoice").val() === 'Elastic'){
            $('#youngsModulus').show()
            $('#poissonRatio').show()
            $('#density').show()
        
        } else if ($("#id_materialChoice").val() === 'Heat') {
            $('#conductivity').show()
            $('#heatCapacity').show()
            $('#density').show()
            
        } else if ($("#id_materialChoice").val() === 'Fluid') {
            $('#viscosity').show()
            $('#density').show()
        }
    });
</script>
<script>
    // hide time dependent analysis on default
    $('.timeDependent').hide()
    
    // check the checkbox to see if checked, then show the time dependent classes
    $("#id_timeFlag").on("click", function(){
        if ($("#id_timeFlag").is(":checked")){
            $('.timeDependent').show()
        } else {
            $('.timeDependent').hide()
        }
    });
</script>
<script>
    // hide additional analysis settings untill required
    $(".analysisSettings").hide()
    $('.staticNonlinearSettings').hide()
    $('.transientThermalSettings').hide()
    
    $("#analysissel").on("change", function(){
        
        if ($("#id_analysisType").val() === 'static'){
            $('.transientThermalSettings').hide()
            $('.staticNonlinearSettings').hide()
            $(".analysisSettings").hide()
            
        } else if ($("#id_analysisType").val() === 'staticNonlinear') {
            // kan dit anders? Of moet je dit overal uit gaan zetten?!
            $('.transientThermalSettings').hide()
            
            $(".analysisSettings").show()
            $('.staticNonlinearSettings').show()
        } else if ($("#id_analysisType").val() === 'transient') {
            $('.staticNonlinearSettings').hide()
            
            $(".analysisSettings").show()
            $('.transientThermalSettings').show()
        }
    });
    
    
    // $("#analysissel").on("change", function(){
    //     alert("sup")
    //     if ($("#id_analysisType").val() === 'Static'){
    //         $(".analysisSettings").show()
    //     });
    // });
</script



{% endblock %}
